body {
  font-family: 'Roboto', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh 20vw;
  line-height: 1.3em;
}

.title {
  font-size: 35px;
  padding: 20px 0;
}

.paragraph {
  padding: 10px 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  flex: 1;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  margin: 3px;
  width: 90%;
}

.image {
  display: flex;
  width: 50%;
  margin: 10px;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  flex: 1;
}

.form-title {
  font-size: 18px;
}

.form-subtitle {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
}
